:root {
  color-scheme: light dark;
  font: -apple-system-body;
  word-wrap: break-word;
  font-family: system-ui;
}

body {
  margin: 10px;
}

button {
  font: -apple-system-body;
  margin-left: 0;
  margin-right: 0;
}

#toggleAllowListButtonExplanation {
  font: -apple-system-footnote;
  margin-block-start: 0;
  padding-left: 1em;
  padding-right: 1em;
}

@media (prefers-color-scheme: dark) {
  /* Dark Mode styles go here. */
}
